/*
# -*- encoding: utf-8 -*-
# Python source code encoding : https://www.python.org/dev/peps/pep-0263/
##############################################################################
#
#    OpenERP, Odoo Source Management Solution
#    Copyright (c) 2015 Databit Solusi Indonesia (http://www.databit.co.id)
#    Ade Anshori <adeanshori@databit.co.id>
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as published
#    by the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
##############################################################################
*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.openerp .oe_form_sheetbg {
  padding: 0px;
}
.openerp .oe_form_sheet_width {
    max-width: 100%;
}
.openerp .oe_application .oe_form header .oe_button {
    float: left;
}
.openerp .oe_leftbar {
    background-color: white;
    border-right: 1px solid #1D559D;
}


.openerp .oe_list_content td, .openerp .oe_list_content th {
  padding: 3px 6px;
  line-height: 18px;
}

.openerp .oe_form td.oe_form_group_cell_label {
  border-right: 0px solid #ddd;
  padding: 2px 0px;
}
.openerp .oe_form input[type="text"], .openerp .oe_form input[type="password"], .openerp .oe_form input[type="file"], .openerp .oe_form select, .openerp .oe_form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  min-width: 60px;
  color: #1f1f1f;
  border-radius: 0px;
  font-family: "FontAwesome";
}
.openerp input, .openerp textarea, .openerp select {
    padding: 2px 4px;
    background: white;
    border-radius: 0px;
    border: 1px solid #cfcfcf;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}
.openerp .oe_notebook {
  border-color: #A3478A;
  border-style: 1px solid;
  border-width: 0 0 1px;
}
.openerp .oe_notebook > li > a {
  display: inline;
  padding: 0 12px;
  margin-right: 2px;
  line-height: 30px;
  border: 1px solid #A3478A;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 0;
}

.openerp .oe_notebook > li > a:hover {
  background-color: #ffffff;
  border: 1px solid #A3478A;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #A3478A;
}

.openerp .oe_notebook > li.ui-state-active > a, .openerp .oe_notebook > li.ui-state-active > a:hover {
  background-color: #ffffff;
  font-weight: bold;
  border: 1px solid #A3478A;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #A3478A;
}

.openerp .oe_tag {
  border: 1px solid #afafb6;
  font-size: 11px;
  padding: 2px 4px;
  margin: 0 2px 2px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 0px;
  background: #cccfff;
  color: #4C4C4C;
}
.openerp .text-tag {
  height: auto !important;
  min-height: 16px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 0px;
  background: #cccfff;
  color: #4C4C4C;
}
.openerp .oe_list_editable .oe_list_content td.oe_list_field_cell {
  padding: 4px 6px 3px;
}
.openerp {
  font-family: "FontAwesome";
  font-size: 12px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.ui-widget {
  font-family: "FontAwesome";
  font-size: 12px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
/* menu navbar */
#oe_main_menu_navbar li a, #oe_main_menu_navbar li button {
  padding: 4px 8px 4px 8px;
  margin-top: 2px;
  font-size: 12px;
  font-weight: bold;
}

.openerp .oe_form header {
  border-bottom: 0px solid #cacaca; 
  
}
.openerp .oe_view_manager_current > .oe_view_manager_header {
    background: transparent;
}

.openerp .oe_button.oe_link span,
.openerp .oe_application a,
.openerp .ui-widget-content a,
.openerp .oe_view_manager table.oe_view_manager_header h2 a,
.openerp .oe_secondary_menu_section {
    color: #1D559D;
}
.oe_dropdown_header {
    margin: 30px auto;
    width: 90%;
}

.openerp .oe_searchview {
  cursor: text;
  position: relative;
  float: right;
  padding: 3px 0;
  line-height: 18px;
  min-width: 600px;
  border: 1px solid #ababab;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
  background: white;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
}

.openerp .oe_searchview.oe_focused {
  cursor: text;
  position: relative;
  float: right;
  padding: 3px 0;
  line-height: 18px;
  min-width: 600px;
  border: 1px solid #ababab;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
  background: white;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
}
.openerp .oe_searchview_drawer .oe_searchview_section li {
    padding: 2px 5px;
    background-color: #f2f2f2;
    margin: 0 2px 2px 0;
    line-height: 21px;
}
.openerp .nav-pills > li.active > a,

.openerp a.list-group-item.active > a {
    background-color: #1D559D;
}

.openerp .nav-pills > li.active a:hover,
.openerp .nav-pills > li.active a:focus,
.openerp a.list-group-item.active a:hover,
.openerp a.list-group-item.active a:focus {
    background-color: #446b9d;
}
.navbar-inverse {
    background-color: #A3478A;
    border-color: #1D559D;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #1D559D;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #d4dae1;
    background-color: #A3478A;    
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #d4dae1;
    background-color: #5F144A;
}
.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly]) {
     background-color: #FFFFFF !important;
     border: none!important;
     border-bottom: #D50000 2px solid!important;
}

.openerp .oe_form_editable .oe_list_editable .oe_list_content td.oe_required {
    background-color: #FFFFFF !important;
	border: none!important;
	border-bottom: #D50000 1px solid!important;
}

.openerp button.oe_button {
    border: 0px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: #428BCA;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.openerp button.oe_button:hover {
    border: 0px;
    display: inline-block;
    /*margin-bottom: 0;*/
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: #0186ba;
    color: white;
    white-space: nowrap;
    /*padding: 5px 10px;*/
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* button create kanban*/
.openerp button.oe_highlight {
    background: #D50000;
}
.openerp button.oe_highlight {
    background-color: #D50000;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#df3f3f), to(#a21a1a));
    background-image: -webkit-linear-gradient(top, #df3f3f, #a21a1a);
    background-image: -moz-linear-gradient(top, #df3f3f, #a21a1a);
    background-image: -ms-linear-gradient(top, #df3f3f, #a21a1a);
    background-image: -o-linear-gradient(top, #df3f3f, #a21a1a);
    background-image: linear-gradient(to bottom, #df3f3f, #a21a1a);*/
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}
.openerp button.oe_highlight:hover {
    background-color: #c02c2c;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#df3f3f), to(#a21a1a));
    background-image: -webkit-linear-gradient(top, #df3f3f, #a21a1a);
    background-image: -moz-linear-gradient(top, #df3f3f, #a21a1a);
    background-image: -ms-linear-gradient(top, #df3f3f, #a21a1a);
    background-image: -o-linear-gradient(top, #df3f3f, #a21a1a);
    background-image: linear-gradient(to bottom, #df3f3f, #a21a1a);*/
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}
/*.openerp button.oe_highlight {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: #337ab7;
    border: 0px;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.openerp button.oe_highlight:hover {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: #2d6da3;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
border-bottom-right-radius: 0;
    border-top-right-radius: 0;
*/
/*print and more*/
.openerp .oe_dropdown_toggle {
    border: 1px solid #ababab;;
    font-weight: 400;
    text-align: left;
    vertical-align: left;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: white;
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.42857143;
}

.openerp .oe_dropdown_toggle:hover {
    border: 1px solid #ababab;
    font-weight: 400;
    text-align: left;
    vertical-align: left;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: #efeff8;
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.42857143;
}
.openerp .oe_dropdown_menu {
    border: 0px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: left;
    vertical-align: left;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: white;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*select view (kanban,list,form)*/
.openerp .oe_view_manager .oe_pager_group {
    border: 0px;
}
.openerp .oe_pager_group li {
  height: 24px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: left;
  border-right: 0px solid #ababab;
}
/*tree*/
/*.openerp .oe_list_content div.o_checkbox {
}
*/
.openerp .oe_view_manager_current .oe_form_editable button.oe_highlight {
    background: #0186ba;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fff;
}
.openerp .oe_view_manager_current .oe_form_editable button.oe_highlight:hover {
    background: #428BCA;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fff;
}
/*button add contact
.openerp .oe_view_manager_current .oe_form_editable button.oe_highlight {
  border: 0px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: #337ab7;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.openerp .oe_view_manager_current .oe_form_editable button.oe_highlight:hover {
    border: 0px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: #2d6da3;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/
/*button import*/
.openerp .oe_fade {
   display:none;
}
.openerp .oe_alternative {
    border: 0px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background: transparent;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.openerp .oe_alternative:hover {
    border: 0px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: #EEE;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* header table delete border*/
.openerp thead th {
  border-left: none;  
  border-top: 1px solid #A3478A;
  border-bottom: 2px solid #A3478A;
  background: #cacaca;
  font-weight: bold;
}
/* state arrow */
.openerp ul.oe_form_status li > .arrow, .openerp ul.oe_form_status_clickable li > .arrow {
  width: 17px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-left: -5px;
}
.openerp ul.oe_form_status li > .label, .openerp ul.oe_form_status_clickable li > .label {
    color: #4c4c4c;
    text-shadow: 0 1px 1px #fcfcfc, 0 -1px 1px #dedede;
    padding: 9px;
    display: inline-block;
    padding-left: 24px;
    margin: 0px;
    position: relative;
    line-height: normal;
  vertical-align: middle;
    font-size: 100%;
    font-weight: normal;
}
.openerp ul.oe_form_status li.oe_active, .openerp ul.oe_form_status_clickable li.oe_active {
    background-color: #D50000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D50000), to(#D50000));
    background-image: -webkit-linear-gradient(top, #D50000, #D50000);
    background-image: -moz-linear-gradient(top, #D50000, #D50000);
    background-image: -ms-linear-gradient(top, #D50000, #D50000);
    background-image: -o-linear-gradient(top, #D50000, #D50000);
    background-image: linear-gradient(to bottom, #D50000, #D50000);
}
.openerp ul.oe_form_status li.oe_active > .arrow span, .openerp ul.oe_form_status_clickable li.oe_active > .arrow span {
    background-color: #D50000;
    background: -moz-linear-gradient(135deg, #D50000, #D50000);
    background: -o-linear-gradient(135deg, #D50000, #D50000);
    background: -webkit-gradient(linear, left top, right bottom, from(#D50000), to(#D50000));
    background: -ms-linear-gradient(top, #D50000, #D50000);
}
/*button group change mode*/
.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group {
  display: inline-block;
  border: 1px solid #ababab;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 0px;
}
/* button create edit tree */
.openerp .oe_button.oe_link span {
    border: 0px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: #337ab7;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*notifikasi*/
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 0px;
}
.openerp .oe_searchview_drawer .oe_searchview_section ul {
    /* margin: 0 8px; */
    padding: 0;
    list-style: none;
    display: inline;
}
.openerp .oe_searchview_drawer dd {
    line-height: 24px;
    font-size: 10px;
    padding-top: 3px;
}
.openerp .oe_searchview_drawer dt {
    line-height: 24px;
    font-size: 10px;
    padding-top: 3px;
}
.oe_secondary_submenu .badge {
    display: inline-block;
    min-width: 12px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
    background-color: #A3478A;
    border-radius: 0px; 
}
.openerp .oe_searchview_drawer h4, .openerp .oe_searchview_drawer h4 * {
    margin: 0 0 0 2px;
    padding-left: 20px;
    font-size: 11px;
    cursor: pointer;
    font-weight: normal;
    display: inline-block;
}
/* button join */
.openerp .oe_form input[type="text"], .openerp .oe_form input[type="password"], .openerp .oe_form input[type="file"], .openerp .oe_form select {
    height: 24px;
}
.openerp a.button:link, .openerp a.button:visited, .openerp button, .openerp .oe_button, .openerp input[type='submit'] {
    background: #A29E9E;
    border: none;
    box-shadow: none;
    outline: none;
    /*padding: 5px 10px;*/
    border-radius: 3px;
    color: #ffffff;
    text-shadow: none;
}
.openerp a.button:hover, .openerp button:hover, .openerp .oe_button:hover, .openerp input[type='submit']:hover {
    background: #428BCA;
}
/*
.openerp a.button:link, .openerp a.button:visited, .openerp button, .openerp .oe_button, .openerp input[type='submit'] {
    border: 0px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: #337ab7;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.openerp a.button:hover, .openerp button:hover, .openerp .oe_button:hover, .openerp input[type='submit']:hover {
  border: 0px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: #2d6da3;
    color: white;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/
input[type="checkbox"] {
    position: relative;
    border: none;
    margin-bottom: -4px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
    margin: 2px 0 0!important;
    margin-top: 1px \9!important;
    line-height: normal!important;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    outline: none !important;
    background: none;
    max-width: 16px;
}
input[type="checkbox"]:checked:after {
    background-color: #A3478A;
    border-color: #A3478A;
}
input[type="checkbox"]:checked:before, .checkbox input[type="checkbox"]:checked:before, .checkbox-inline input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type="checkbox"]:after, .checkbox input[type="checkbox"]:after, .checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid #666666;
    border-radius: 2px;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}
.openerp input[type="textarea"], .openerp input[type="text"], .openerp textarea, .openerp select {
    border: none;
    border-bottom: #ccc 2px solid;
    border-radius: 0;
    background: none;
    outline: none;
}
.openerp .oe_list_content > tfoot {
  border-top: 1px solid #A3478A;
  border-bottom: 3px solid #A3478A;
  background: #cacaca;
  font-weight: bold;
}
/* button follow*/
/* 
.openerp .oe_followers button.oe_follower.oe_following {
    color: white;
    background-color: #BAC1BE;
    background-image: -webkit-linear-gradient(top, #729FCF, #3465A4);
    background-image: -moz-linear-gradient(top, #729FCF, #3465A4);
    background-image: -ms-linear-gradient(top, #729FCF, #3465A4);
    background-image: -o-linear-gradient(top, #729FCF, #3465A4);
    background-image: linear-gradient(to bottom, #729FCF, #3465A4);
}
.openerp a.button:link, .openerp a.button:visited, .openerp button, .openerp .oe_button, .openerp input[type='submit'] {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: #4c4c4c;
    margin: 0;
    padding: 3px 12px;
    font-size: 13px;
    text-align: center;
    background-color: #009688;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d8d8d8));
    background-image: -webkit-linear-gradient(top, #efefef, #d8d8d8);
    background-image: -moz-linear-gradient(top, #efefef, #d8d8d8);
    background-image: -ms-linear-gradient(top, #efefef, #d8d8d8);
    background-image: -o-linear-gradient(top, #efefef, #d8d8d8);
    background-image: linear-gradient(to bottom, #efefef, #d8d8d8);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 0px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.8) inset;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-font-smoothing: antialiased;
    outline: none;
}*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
