.openerp .oe_kanban_view {
  background: #8F8F8F;
  height: auto;
}

.openerp .oe_kanban_view .oe_dropdown_kanban {
    border: 0px solid #ababab;
  float: right;
  cursor: pointer;
  margin-top: -6px;
  background: transparent;
}

.openerp .oe_kanban_view .oe_kanban_details {
  display: inline-block;
  vertical-align: top;
  width: 260px;
  height: 80px;
  font-size: 11px;
  margin: 5px;
  padding: 5px;
  color: #4c4c4c;
}

.openerp .oe_kanban_view .oe_kanban_vignette {
  padding: 8px;
  min-height: 100px;
      background-color: #fff;
    box-shadow: 0 0 1px 1px #6f6f6f;
    padding: 8px 8px;
}

.openerp .oe_kanban_buttons button.oe_highlight {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: #D50000;
    border: 0px;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.openerp .oe_kanban_buttons button.oe_highlight:hover {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    background-color: #c02c2c;
    border: 0px;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*kanban contact*/

.openerp .oe_kanban_view .oe_kanban_box_content {
  padding: 4px;
  font-size: 80%;
}
/*kanban module install*/
.openerp .oe_kanban_view .oe_kanban_record {
  position: relative;
  display: block;
  min-height: 20px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #1D559D;
  background: #FFFFFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset;
}
/*kanban opportunities*/
.openerp .oe_kanban_view .oe_kanban_add, .openerp .oe_kanban_view .oe_kanban_header .oe_dropdown_toggle {
    margin-left: 4px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_dummy_cell {
    /*background: url(/web/static/src/img/form_sheetbg.png);*/
    width: 100%;
}
.openerp .oe_kanban_view .oe_kanban_record {
    position: relative;
    display: block;
    min-height: 20px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #1D559D;
    background: #FFFFFF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset;
}
.openerp .oe_kanban_view .oe_kanban_card, .openerp .oe_kanban_view .oe_kanban_quick_create {
    margin-bottom: 4px;
    position: relative;
    display: block;
    background: white;
    /* border: 1px solid rgba(0, 0, 0, 0.16); */
    /* border-bottom-color: rgba(0, 0, 0, 0.3); */
    padding: 5px;
    display: block;
    -webkit-transition: -webkit-transform, -webkit-box-shadow, border 200ms linear;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 0px;
}
.openerp .oe_kanban_view .oe_kanban_group_title {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0; 
    margin-right: 30px;
    width: 200px;
}
.openerp .oe_kanban_view.oe_kanban_grouped .oe_kanban_column, .openerp .oe_kanban_view .oe_kanban_group_header {
    color: #fff!important;
    background: #616161!important;
    /* padding: 10px!important; */
}
