<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Cool Dropdown Menu</h2>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://www.databit.co.id/">
                    <img src="dropdown_menu.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Visit our Website</div>
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://www.databit.co.id/">
                    <img src="tree.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Visit our Website</div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://www.databit.co.id/">
                    <img src="form_view.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Visit our Website</div>
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://www.databit.co.id/">
                    <img src="form_edit.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Visit our Website</div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://www.databit.co.id/">
                    <img src="kanban.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Visit our Website</div>
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://www.databit.co.id/">
                    <img src="about.png">
                </a>
                <div class="oe_demo_footer oe_centeralign">Visit our Website</div>
            </div>
        </div>
    </div>
</section>