<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">FontAwesome CSS</h2>
        <div class="oe_demo oe_picture oe_screenshot">
            <a href="http://www.databit.co.id/">
                <img src="kanban.png">
            </a>
        </div>
        <div class="oe_demo_footer oe_centeralign">Kanban Customer</div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_demo oe_picture oe_screenshot">
            <a href="http://www.databit.co.id/">
                <img src="tree.png">
            </a>
        </div>
        <div class="oe_demo_footer oe_centeralign">Tree</div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_demo oe_picture oe_screenshot">
            <a href="http://www.databit.co.id/">
                <img src="form_view.png">
            </a>
        </div>
        <div class="oe_demo_footer oe_centeralign">Form View</div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_demo oe_picture oe_screenshot">
            <a href="http://www.databit.co.id/">
                <img src="form_edit.png">
            </a>
        </div>
        <div class="oe_demo_footer oe_centeralign">Form Edit</div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_demo oe_picture oe_screenshot">
            <a href="http://www.databit.co.id/">
                <img src="kanban_opp.png">
            </a>
        </div>
        <div class="oe_demo_footer oe_centeralign">Kanban Opportunities</div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_demo oe_picture oe_screenshot">
            <a href="http://www.databit.co.id/">
                <img src="about.png">
            </a>
        </div>
        <div class="oe_demo_footer oe_centeralign">Visit our Website</div>
    </div>
</section>

